doctype html
html
  head
    title Ažuriranje izdelkov v bazi Northwind
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(type='text/javascript' src='/javascripts/metode.js')
  body!= body